<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>AddCustServlet</servlet-name>
    <servlet-class>cn.bank.servlet.AddCustServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.bank.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>cn.bank.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SumMoneyServlet</servlet-name>
    <servlet-class>cn.bank.servlet.SumMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MoneyInServlet</servlet-name>
    <servlet-class>cn.bank.servlet.MoneyInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MoneyOutServlet</servlet-name>
    <servlet-class>cn.bank.servlet.MoneyOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TransferMoneyServlet</servlet-name>
    <servlet-class>cn.bank.servlet.TransferMoneyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetBillServlet</servlet-name>
    <servlet-class>cn.bank.servlet.GetBillServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>cn.bank.servlet.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryMoneyServlet</servlet-name>
    <servlet-class>cn.bank.servlet.queryMoneyServlet</servlet-class>
  </servlet>



  
  <servlet-mapping>
    <servlet-name>AddCustServlet</servlet-name>
    <url-pattern>/AddCustServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SumMoneyServlet</servlet-name>
    <url-pattern>/SumMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoneyInServlet</servlet-name>
    <url-pattern>/MoneyInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoneyOutServlet</servlet-name>
    <url-pattern>/MoneyOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransferMoneyServlet</servlet-name>
    <url-pattern>/TransferMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetBillServlet</servlet-name>
    <url-pattern>/GetBillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/ChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryMoneyServlet</servlet-name>
    <url-pattern>/queryMoneyServlet</url-pattern>
  </servlet-mapping>
</web-app>